.my-img {
    width: 100%;
    height: auto;
}

.my-carousel {
    min-height: 70vh;
}

.my-carousel-text {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.my-showcase div img {
    width: 98px;
    height: 98px;
}