<p-card styleClass="mb-2">
  <div class="grid">
    <div class="col-6" style="font-size: 1.25rem">
      <table>
        <caption hidden>Hospital Contact Details</caption>
        <tr>
          <th id="gnl-hsp" colspan="2">
            <h2 class="mb-4">General Hospital</h2>
          </th>
        </tr>
        <tr>
          <td><i class="pi pi-map-marker mr-2" aria-hidden="true"></i></td>
          <td>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Accusantium, ipsa.
          </td>
        </tr>
        <tr>
          <td><i class="pi pi-phone mr-2" aria-hidden="true"></i></td>
          <td>+91 9091-987-090</td>
        </tr>
        <tr>
          <td><i class="pi pi-envelope mr-2" aria-hidden="true"></i></td>
          <td>asdqweq@adsad.com</td>
        </tr>
      </table>
    </div>
    <div class="col-6">
      <img
        alt="hospital image"
        src="/assets/hospital.jpg"
        style="width: 100%; height: auto"
      />
    </div>
  </div>
</p-card>
<p-card styleClass="mb-2">
    <h1 class="mb-2">City Map</h1>
    <div #map id="map"></div>
</p-card>
