<p-card>
    <h2>All Records</h2>
    <p-divider></p-divider>
    <p-table
        [columns]="recordCols" 
        [value]="records" 
        responsiveLayout="scroll" 
        styleClass="p-datatable-sm p-datatable-striped"
    >
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.label }}
                </th>
                <th>
                    Action
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-record let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{ record[col.field] }}
                </td>
                <td>
                    <p-button icon="pi pi-cog"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>