<p-card>
  <p-tabView (onChange)="onTabChange($event)">
    <p-tabPanel header="New Users">
      <ng-template [ngIf]="isLoadingNewUsers" [ngIfElse]="notLoadingNewUsers">
        <app-loading-bar></app-loading-bar>
      </ng-template>
      <ng-template #notLoadingNewUsers>
        <p-table
          [value]="newUsers"
          styleClass="p-datatable-sm p-datatable-striped"
          responsiveLayout="scroll"
          [paginator]="true"
          [rows]="10"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[10, 25, 50]"
        >
          <ng-template pTemplate="header">
            <tr>
              <th scope="col" >#</th>
              <th scope="col" >Name</th>
              <th scope="col" >Gender</th>
              <th scope="col" >Email</th>
              <th scope="col" >Phone</th>
              <th scope="col" class="text-center">Type</th>
              <th scope="col" ></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user let-i="rowIndex">
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{ user.firstName + " " + user.lastName }}</td>
              <td>{{ user.gender }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.phone }}</td>
              <td class="text-center">
                <p-badge
                  [value]="user.role === 'D' ? 'Doctor' : 'Patient'"
                  [severity]="user.role === 'D' ? 'success' : 'info'"
                ></p-badge>
              </td>
              <td class="text-right">
                <p-button
                  styleClass="p-button-text"
                  icon="pi pi-ellipsis-v"
                  (onClick)="setActiveUser(i); newUserPMenu.toggle($event)"
                ></p-button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td class="text-center text-500 py-4" colspan="7">
                No new users.
              </td>
            </tr>
          </ng-template>
        </p-table>
        <p-menu #newUserPMenu [popup]="true" [model]="newUserMenu"></p-menu>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Patients">
      <ng-template [ngIf]="isLoadingPatients" [ngIfElse]="notLoadingPatients">
        <app-loading-bar></app-loading-bar>
      </ng-template>
      <ng-template #notLoadingPatients>
        <app-patient-table
          [patients]="patients"
          [menu]="patientTableMenu"
          (onMenuAction)="onPatientTableAction($event)"
        >
        </app-patient-table>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Doctors">
      <ng-template [ngIf]="isLoadingDoctors" [ngIfElse]="notLoadingDoctors">
        <app-loading-bar></app-loading-bar>
      </ng-template>
      <ng-template #notLoadingDoctors>
        <app-doctor-table
          [doctors]="doctors"
          [menu]="doctorRowMenu"
          (onMenuAction)="onDoctorTableAction($event)"
        ></app-doctor-table>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</p-card>

<!-- View User Dialog -->
<p-dialog [(visible)]="dialog.show" [style]="{ minWidth: '40%' }">
  <ng-template pTemplate="header">
    <h3>
      {{ dialog.header }}
      <a
        *ngIf="activeUser.status !== 'N'"
        class="ml-2"
        [routerLink]="['/', 'dashboard', 'users', activeUser?.id]"
      >
        <i class="pi pi-external-link" aria-hidden="true"></i>
      </a>
    </h3>
  </ng-template>
  <table class="my-table">
    <caption hidden>User Details</caption>
    <tbody>
      <tr>
        <th scope="row">Type:</th>
        <td>
          <p-badge
            [value]="activeUser?.role === 'D' ? 'Doctor' : 'Patient'"
            [severity]="activeUser?.role === 'D' ? 'success' : 'info'"
          ></p-badge>
        </td>
      </tr>
      <tr>
        <th scope="row">User ID:</th>
        <td>{{ activeUser?.id }}</td>
      </tr>
      <tr>
        <th scope="row">First Name:</th>
        <td>{{ activeUser?.firstName }}</td>
      </tr>
      <tr>
        <th scope="row">Last Name:</th>
        <td>{{ activeUser?.lastName }}</td>
      </tr>
      <tr>
        <th scope="row">Email:</th>
        <td>{{ activeUser?.email }}</td>
      </tr>
      <tr>
        <th scope="row">Phone:</th>
        <td>{{ activeUser?.phone }}</td>
      </tr>
      <tr>
        <th scope="row">Emergency Phone:</th>
        <td>{{ activeUser?.emergencyPhone }}</td>
      </tr>
      <tr>
        <th scope="row">Gender:</th>
        <td>{{ activeUser?.gender }}</td>
      </tr>
      <tr>
        <th scope="row">Date of Birth:</th>
        <td>{{ activeUser?.dob | date: "short" }}</td>
      </tr>
      <tr>
        <th scope="row">Address Line 1:</th>
        <td>{{ activeUser?.line1 }}</td>
      </tr>
      <tr>
        <th scope="row">Address Line 2:</th>
        <td>{{ activeUser?.line2 }}</td>
      </tr>
      <tr>
        <th scope="row">PINCODE:</th>
        <td>{{ activeUser?.pincode }}</td>
      </tr>
      <tr>
        <th scope="row">City:</th>
        <td>{{ activeUser?.city }}</td>
      </tr>
      <tr>
        <th scope="row">State:</th>
        <td>{{ activeUser?.state }}</td>
      </tr>
      <ng-template [ngIf]="activeUser?.role === 'D'">
        <tr>
          <th scope="row">Specialization:</th>
          <td>{{ activeUser?.specialization }}</td>
        </tr>
        <tr>
          <th scope="row">Experience:</th>
          <td>{{ activeUser?.experience }}</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
  <div *ngIf="dialog.mode === 'N'" class="flex justify-content-end gap-2 mt-2">
    <p-button
      label="Close"
      icon="pi pi-times"
      styleClass="p-button-plain p-button-text"
      (onClick)="dialog.show = false"
    >
    </p-button>
    <p-button
      label="Reject"
      (onClick)="commitUserStatus('R')"
      [icon]="commitButtonIcons['R']"
      styleClass="p-button-danger p-button-text"
    >
    </p-button>
    <p-button
      label="Accept"
      (onClick)="commitUserStatus('A')"
      [icon]="commitButtonIcons['A']"
      styleClass="p-button-success p-button-text"
    >
    </p-button>
  </div>
</p-dialog>

<!-- Move Doctor to Department Dialog -->
<p-dialog
  [(visible)]="showMoveDoctorDialog"
  header="Move Doctor to Department ?"
  [style]="{ minWidth: '40%' }"
>
  <p class="mb-2">
    <strong>Note: </strong>
    <span>You can always move doctors in the department area</span>
  </p>
  <table class="my-table">
    <caption hidden>Doctor details</caption>
    <tbody>
      <tr>
        <th scope="row">First Name:</th>
        <td>{{ activeUser?.firstName }}</td>
      </tr>
      <tr>
        <th scope="row">Last Name:</th>
        <td>{{ activeUser?.lastName }}</td>
      </tr>
      <tr>
        <th scope="row">Email:</th>
        <td>{{ activeUser?.email }}</td>
      </tr>
      <tr>
        <th scope="row">Phone:</th>
        <td>{{ activeUser?.phone }}</td>
      </tr>
      <tr>
        <th scope="row">Gender:</th>
        <td>{{ activeUser?.gender }}</td>
      </tr>
      <tr>
        <th scope="row">Specialization:</th>
        <td>{{ activeUser?.specialization }}</td>
      </tr>
      <tr>
        <th scope="row">Experience:</th>
        <td>{{ activeUser?.experience }}</td>
      </tr>
    </tbody>
  </table>
  <form [formGroup]="moveDoctorForm" (ngSubmit)="onMoveDoctor()">
    <div class="field mt-4">
      <label>Move To:</label>
      <p-dropdown
        formControlName="departmentId"
        styleClass="w-full"
        appendTo="body"
        placeholder="Select Department"
        [options]="departmentOptions"
        optionLabel="name"
        optionValue="id"
      ></p-dropdown>
      <small
        *ngIf="
          moveDoctorForm.get('departmentId')?.invalid &&
          moveDoctorForm.get('departmentId')?.touched
        "
        class="p-error"
      >
        Department is required
      </small>
    </div>
    <div class="field mt-4">
      <label>Designation:</label>
      <p-dropdown
        formControlName="designation"
        styleClass="w-full"
        appendTo="body"
        placeholder="Select Designation"
        [options]="designationOptions"
        optionLabel="label"
        optionValue="value"
      ></p-dropdown>
      <small
        *ngIf="
          moveDoctorForm.get('designation')?.invalid &&
          moveDoctorForm.get('designation')?.touched
        "
        class="p-error"
      >
        Designation is required
      </small>
    </div>
    <div class="flex justify-content-end gap-2 mt-2">
      <p-button
        label="Skip"
        type="button"
        icon="pi pi-times"
        styleClass="p-button-plain p-button-text"
        (onClick)="showMoveDoctorDialog = false"
      >
      </p-button>
      <p-button
        label="Move"
        type="submit"
        icon="pi pi-arrow-up-right"
        [loading]="isLoadingMoveDoctor"
        styleClass="p-button-info p-button-text"
      >
      </p-button>
    </div>
  </form>
</p-dialog>

<app-tranfer-doctor-dialog
  [(show)]="transferDialog.show"
  [doctor]="transferDialog.doctor"
  (transferEvent)="onDoctorTransfer($event)"
>
</app-tranfer-doctor-dialog>

<p-confirmDialog></p-confirmDialog>

<p-toast></p-toast>
