<div class="flex flex-wrap gap-2 align-items-center justify-content-between p-4 bg-white">
    <div class="flex align-items-center">
        <button pButton class="p-button-text" icon="pi pi-bars" (click)="showSidebar = true;"></button>
        <span class="text-2xl ml-4">HMS</span>
    </div>
    <div class="flex align-items-center justify-content-end flex-grow-1 gap-2">
        <span>Welcome, <strong>{{ userName }}</strong></span>
        <p-menu [popup]="true" [model]="menuItems" #menu styleClass="mt-2"></p-menu>
        <button pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded p-button-info p-button-outlined"
            (click)="menu.toggle($event)"></button>
    </div>
</div>
<p-sidebar [(visible)]="showSidebar" styleClass="bg-purple-300">
    <p-panelMenu [model]="sideMenuItems" [style]="{'width':'100%'}"></p-panelMenu>
    <ng-template [ngIf]="authService.userType === 'P'">
        <p-divider></p-divider>
        <p-panelMenu [model]="patientSideMenuItems" [style]="{'width':'100%'}">
        </p-panelMenu>
    </ng-template>
    <ng-template [ngIf]="authService.userType === 'D'">
        <p-divider></p-divider>
        <p-panelMenu [model]="doctorSideMenuItems" [style]="{'width':'100%'}">
        </p-panelMenu>
    </ng-template>
    <ng-template [ngIf]="authService.userType === 'A'">
        <p-divider></p-divider>
        <p-panelMenu [model]="adminSideMenuItems" [style]="{'width':'100%'}">
        </p-panelMenu>
    </ng-template>
</p-sidebar>
<div class="container">
    <router-outlet></router-outlet>
</div>