<div class="flex flex-wrap gap-2 align-items-center justify-content-between p-4 bg-white">
    <div class="flex align-items-center">
        <button pButton class="p-button-text" icon="pi pi-bars" (click)="showSidebar = true;"></button>
        <span class="text-2xl ml-4">HMS</span>
    </div>
    <div class="flex align-items-center justify-content-end flex-grow-1 gap-2">
        <span>Welcome, <strong>{{ this.authService.userSubject.value | fullName  }}</strong></span>
        <p-menu [popup]="true" [model]="menuItems" #menu styleClass="mt-2"></p-menu>
        <button pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded p-button-info p-button-outlined"
            (click)="menu.toggle($event)"></button>
    </div>
</div>
<p-sidebar [(visible)]="showSidebar" styleClass="surface-ground" [showCloseIcon]="false">
    <div class="flex align-items-center">
        <button pButton class="p-button-text text-purple-500 font-bold" icon="pi pi-bars" (click)="showSidebar = false;"></button>
        <span class="text-2xl ml-4 text-purple-500 font-bold">HMS</span>
    </div>
    <p-divider></p-divider>
    <div *ngFor="let sideMenuItem of sideMenuItems" class="flex align-items-center gap-2 text-xl side-nav-item"
        [routerLink]="sideMenuItem.routerLink" routerLinkActive="side-nav-item-active"
        [routerLinkActiveOptions]="{exact: true}" (click)="showSidebar = false;">
        <i [class]="sideMenuItem.icon"></i>
        <a>
            {{ sideMenuItem.label }}
        </a>
    </div>
    <ng-template [ngIf]="authService.userType === 'P'">
        <p-divider></p-divider>
        <div *ngFor="let sideMenuItem of patientSideMenuItems"
            class="flex align-items-center gap-2 text-xl side-nav-item" [routerLink]="sideMenuItem.routerLink"
            routerLinkActive="side-nav-item-active" [routerLinkActiveOptions]="{exact: true}"
            (click)="showSidebar = false;">
            <i [class]="sideMenuItem.icon"></i>
            <a>
                {{ sideMenuItem.label }}
            </a>
        </div>
    </ng-template>
    <ng-template [ngIf]="authService.userType === 'D'">
        <p-divider></p-divider>
        <div *ngFor="let sideMenuItem of doctorSideMenuItems"
            class="flex align-items-center gap-2 text-xl side-nav-item" [routerLink]="sideMenuItem.routerLink"
            routerLinkActive="side-nav-item-active" [routerLinkActiveOptions]="{exact: true}"
            (click)="showSidebar = false;">
            <i [class]="sideMenuItem.icon"></i>
            <a>
                {{ sideMenuItem.label }}
            </a>
        </div>
    </ng-template>
    <ng-template [ngIf]="authService.userType === 'A'">
        <p-divider></p-divider>
        <div *ngFor="let sideMenuItem of adminSideMenuItems" class="flex align-items-center gap-2 text-xl side-nav-item"
            [routerLink]="sideMenuItem.routerLink" routerLinkActive="side-nav-item-active"
            [routerLinkActiveOptions]="{exact: true}" (click)="showSidebar = false;">
            <i [class]="sideMenuItem.icon"></i>
            <a>
                {{ sideMenuItem.label }}
            </a>
        </div>
    </ng-template>
</p-sidebar>
<div class="container">
    <router-outlet></router-outlet>
</div>