<div class="flex flex-wrap gap-2 align-items-center">
    <div class="w-full md:w-auto flex justify-content-between">
        <h4>Hopital</h4>
        <div class="md:hidden">
            <button (click)="showMenu = !showMenu">
                <i class="pi pi-bars" style="font-size: 2rem"></i>
            </button>
        </div>
    </div>
    <div
        *ngIf="showMenu"
        class="flex flex-column md:flex-row flex-grow-1 gap-2 justify-content-end">
        <a href="#">Home</a>
        <a href="#">Facilities</a>
        <a href="#">About</a>
        <a href="#">Contact Us</a>
    </div>
</div>
<div class="container">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea dolor suscipit cumque nulla quam asperiores laborum, corporis harum facere expedita, adipisci possimus quae quibusdam, aperiam quidem nostrum recusandae accusantium assumenda?</p>
</div>