<p-card styleClass="mb-2">
  <p-fieldset legend="NOTICE" [toggleable]="true">
    <p class="text-right mb-2">Date: 24 Aug 7045</p>
    <h3 class="text-center mb-2">Subject</h3>
    <p class="text-justify mb-2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus mollitia
      quia error praesentium accusantium voluptates veritatis architecto id
      vitae temporibus vero aliquam commodi, quisquam ad, fuga quis eaque nobis
      nihil!
    </p>
  </p-fieldset>
</p-card>

<div class="grid">
  <div class="col-3">
    <p-card styleClass="border-left-3 border-noround-left border-green-500">
      <div class="flex flex-column gap-2 align-items-start my-2">
        <h1 class="text-green-500">123</h1>
        <a routerLink="/dashboard/appointment">Planned Appointments</a>
      </div>
    </p-card>
  </div>
  <div class="col-3">
    <p-card styleClass="border-left-3 border-noround-left border-yellow-600">
      <div class="flex flex-column gap-2 align-items-start my-2">
        <h1 class="text-yellow-600">123</h1>
        <a routerLink="/dashboard/appointment">New Reports</a>
      </div>
    </p-card>
  </div>
  <div class="col-3" *ngIf="authService.userType === 'A'">
    <p-card styleClass="border-left-3 border-noround-left border-indigo-500">
      <div class="flex flex-column gap-2 align-items-start my-2">
        <h1 class="text-indigo-500">123</h1>
        <a routerLink="/dashboard/appointment">New Users</a>
      </div>
    </p-card>
  </div>
</div>
