<p-card styleClass="mb-3">
  <h1>Hospital Facilities</h1>
  <p>List of facilities available at The General Hospital</p>

  <h2>24-Hours Services</h2>
  <ul>
    <li>Emergency</li>
    <li>Laboratory</li>
    <li>Radiology and Imaging</li>
    <li>Ambulance</li>
  </ul>
</p-card>

<p-card styleClass="mb-3" *ngFor="let department of departments">
  <div class="grid">
    <div class="col-4">
      <img class="w-full h-auto" src="https://cdn-icons-png.flaticon.com/512/5599/5599215.png" alt="department">
    </div>
    <div class="col-8">
      <h2>{{ department.name }}</h2>
      <p>{{ department.description }}</p>
    </div>
  </div>
</p-card>
