<p-card>
  <h1>Hospital Facilities</h1>
  <p>List of facilities available at The General Hospital</p>

  <h2>24-Hours Services</h2>
  <ul>
    <li>Emergency</li>
    <li>Laboratory</li>
    <li>Radiology and Imaging</li>
    <li>Ambulance</li>
  </ul>

  <p>
    24 x 7 Intensive Care facilities ( recognized by ISCCM for DCCM ) with
    separate isolation rooms for infectious patients, surgical intensive care,
    separate high dependency units, post operative care ward which opens
    seamlessly from the operation theatre complex
  </p>

  <h2>Ambulance Services:</h2>
  <p>
    24 hours patient transport vehicle available. Patients are transported from
    home to GRMI hospital and patients referred by emergency duty doctor to
    empanelled hospital for specialized care.
  </p>

  <h2>OPD</h2>
  <p>
    Patients are registered at the OPD Counter and are seen on first come, first
    serve basis, however out of turn consultation may be provided in case of
    emergency and senior citizen. Patients have the right to consult any doctor.
  </p>
  <p>
    In OPD, clinical consultation is provided to patients which includes history
    taking, clinical examination, diagnosis and providing prescription to
    patients besides advising laboratory tests in some cases.
  </p>
  <p>
    OPD has a waiting hall with chairs, a TV, public utilities like drinking
    water and toilets. Sub waiting areas are available in front of individual
    consultation rooms. Wheel chairs, trolleys and attendants are there to help
    very sick patients.
  </p>

  <h2>HEALTHCHECK PACKAGES</h2>
  <ul>
    <li>Regular Health Check-up</li>
    <li>Special Health Check-up</li>
    <li>Executive Health Check-up</li>
  </ul>
</p-card>
