<div class="auth-container">
    <p-card styleClass="mt-8">
        <div class="grid">
            <div class="col-6">
                <h1>Hopital Management System</h1>
                <p-divider></p-divider>
                <ng-template [ngIf]="activeTab === 0" [ngIfElse]="doctorAuth">
                    <p>Patient Login</p>
                </ng-template>
                <ng-template #doctorAuth>
                    <p>Doctor Login</p>
                </ng-template>
            </div>
            <div class="col-6">
                <p-tabView [(activeIndex)]="activeTab" (onChange)="onRoleChange($event)">
                    <p-tabPanel header="Patient" headerStyleClass="auth-tabs">
                        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                            <div class="p-inputgroup mb-2">
                                <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                                <input type="email" pInputText placeholder="Email" formControlName="email">
                            </div>
                            <p class="w-full p-error mb-2" *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
                                Invalid Email
                            </p>
                            <div class="p-inputgroup mb-2">
                                <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                                <input type="password" pInputText placeholder="Password" formControlName="pwd">
                            </div>
                            <p class="p-error mb-2" *ngIf="loginForm.get('pwd')?.invalid && (loginForm.get('pwd')?.dirty || loginForm.get('pwd')?.touched)">
                                Invalid Password
                            </p>
                            <div class="text-center">
                                <p class="p-error mb-2" *ngIf="loginError">{{ loginError }}</p>
                                <p-button label="Login" class="block-btn" (onClick)="onLogin()"></p-button>
                            </div>
                            <p class="text-center mt-2">
                                <a href="#">Forgotten password?</a>
                            </p>
                            <p-divider></p-divider>
                            <div class="text-center">
                                <p-button label="Create New Account" class="block-btn" (onClick)="openNewAccountForm()">
                                </p-button>
                            </div>
                        </form>
                    </p-tabPanel>
                    <p-tabPanel header="Doctor" headerStyleClass="auth-tabs">
                        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                            <div class="p-inputgroup mb-2">
                                <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                                <input type="email" pInputText placeholder="Email" formControlName="email">
                            </div>
                            <p class="w-full p-error mb-2" *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
                                Invalid Email
                            </p>
                            <div class="p-inputgroup mb-2">
                                <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                                <input type="password" pInputText placeholder="Password" formControlName="pwd">
                            </div>
                            <p class="w-full p-error mb-2" *ngIf="loginForm.get('pwd')?.invalid && (loginForm.get('pwd')?.dirty || loginForm.get('pwd')?.touched)">
                                Invalid Password
                            </p>
                            <div class="text-center">
                                <p class="p-error mb-2" *ngIf="loginError">{{ loginError }}</p>
                                <p-button label="Login" class="block-btn" (onClick)="onLogin()"></p-button>
                            </div>
                            <p class="text-center mt-2">
                                <a href="#">Forgotten password?</a>
                            </p>
                            <p-divider></p-divider>
                            <div class="text-center">
                                <p-button label="Create New Account" class="block-btn" (onClick)="openNewAccountForm()">
                                </p-button>
                            </div>
                        </form>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
    </p-card>
</div>

<!-- Create User Dialog -->
<p-dialog [(visible)]="showNewAccountForm" [header]="activeTab === 0 ? 'New Patient Acount' : 'New Doctor Account'"
    [style]="{ maxWidth: '80%' }">
    <form [formGroup]="newUserForm" (ngSubmit)="onSubmit()">
        <div class="grid">
            <div class="col-6">
                <input type="text" class="w-full" pInputText placeholder="First Name" formControlName="firstName" />
            </div>
            <div class="col-6">
                <input type="text" class="w-full" pInputText placeholder="Last Name" formControlName="lastName" />
            </div>
            <div class="col-6">
                <input type="text" class="w-full" pInputText placeholder="Contact Number" formControlName="phone">
            </div>
            <div class="col-6">
                <input type="text" class="w-full" pInputText placeholder="Emergency Contact Number"
                    formControlName="emergencyPhone">
            </div>
            <div class="col-6">
                <input type="email" class="w-full" pInputText placeholder="E-Mail" formControlName="email">
            </div>
            <div class="col-6">
                <p-dropdown styleClass="w-full" appendTo="body" placeholder="Gender" [options]="genderOptions"
                    formControlName="gender" optionLabel="label" optionValue="value">
                </p-dropdown>
            </div>
            <div class="col-6">
                <input type="password" class="w-full" pInputText placeholder="Password" formControlName="pwd">
                <p class="p-error" *ngIf="newUserForm.errors?.['misMatch']">Passowrds must be exactly the same</p>
            </div>
            <div class="col-6">
                <input type="password" class="w-full" pInputText placeholder="Confirm password" formControlName="confPwd">
                <p class="p-error" *ngIf="newUserForm.errors?.['misMatch']">Passowrds must be exactly the same</p>
            </div>
            <div class="col-6">
                <p-calendar placeholder="Date Of Birth" styleClass="w-full" appendTo="body" [maxDate]="maxDate"
                    [showIcon]="true" formControlName="dob">
                </p-calendar>
            </div>
            <div class="col-6">
                <input type="text" class="w-full" pInputText placeholder="Address Line 1" formControlName="line1">
            </div>
            <div class="col-6">
                <input type="text" class="w-full" pInputText placeholder="Address Line 2" formControlName="line2">
            </div>
            <div class="col-6">
                <input type="text" class="w-full" pInputText placeholder="PINCODE" formControlName="pincode">
            </div>
            <div class="col-6">
                <input type="text" class="w-full" pInputText placeholder="City" formControlName="city">
            </div>
            <div class="col-6">
                <p-dropdown styleClass="w-full" appendTo="body" placeholder="State" [options]="stateOptions"
                    formControlName="state" optionLabel="label" optionValue="value">
                </p-dropdown>
            </div>
        </div>
        <ng-template [ngIf]="activeTab === 0" [ngIfElse]="doctorForm">

        </ng-template>
        <ng-template #doctorForm>
            <p-divider></p-divider>
            <div class="grid">
                <div class="col-6">
                    <p-inputNumber styleClass="w-full" placeholder="Experience (Years)" [min]="0" [max]="60" formControlName="experience">
                    </p-inputNumber>
                </div>
                <div class="col-6">
                    <p-dropdown appendTo="body" [options]="specializationOptions" optionLabel="label" formControlName="specialization"
                        placeholder="Specialization" styleClass="w-full" optionValue="value"></p-dropdown>
                </div>
            </div>
        </ng-template>
        <div class="flex justify-content-end mt-2">
            <p-button [disabled]="!newUserForm.valid" label="SUBMIT" type="submit" [icon]="loadingIcon"></p-button>
        </div>
    </form>
</p-dialog>
<p-toast></p-toast>
