<p-card>
    <div class="flex justify-content-between align-items-center">
        <h2>All Departments</h2>
        <p-button 
            *ngIf="canManage"
            label="Add Department" icon="pi pi-plus" styleClass="p-button-text" (onClick)="openDepartmentForm()">
        </p-button>
    </div>
    <p-divider></p-divider>
    <ng-template [ngIf]="isLoadingDepartments" [ngIfElse]="notLoading">
        <app-loading-bar></app-loading-bar>
    </ng-template>
    <ng-template #notLoading>
        <app-department-table [departments]="departments" [menu]="rowMenu" (onMenuAction)="onDepartmentTableAction($event)">
        </app-department-table>
    </ng-template>
</p-card>

<!-- Create Department Dialog -->
<p-dialog [(visible)]="dialog.show" [header]="dialog.heading" [style]="{ maxWidth: '80%' }">
    <form [formGroup]="departmentForm" (ngSubmit)="onSubmit()">
        <div class="field">
            <label>Parent Department</label>
            <p-treeSelect formControlName="parentDepartmentId" [filter]="true" filterBy="label" appendTo="body"
                styleClass="w-full" [options]="departmentTree" placeholder="Select Parent Department"></p-treeSelect>
        </div>
        <div class="field">
            <label>Department Name</label>
            <input type="text" class="w-full" pInputText placeholder="Name" formControlName="name" />
            <small *ngIf="departmentForm.get('name')?.invalid && departmentForm.get('name')?.touched" class="p-error">
                Department name is required, under 40 characters.
            </small>
        </div>
        <div class="field">
            <label>Department Description</label>
            <textarea pInputTextarea class="w-full" placeholder="Description" formControlName="description"></textarea>
            <small *ngIf="departmentForm.get('description')?.invalid && departmentForm.get('description')?.touched"
                class="p-error">
                Department description is required, under 255 characters.
            </small>
        </div>

        <div class="flex justify-content-end mt-2">
            <p-button label="SUBMIT" type="submit" [icon]="loadingIcon"></p-button>
        </div>
    </form>
</p-dialog>

<!-- Delete Department Popup -->
<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>