<p-card>
    <div class="flex justify-content-between align-items-center">
        <h2>All Departments</h2>
        <p-button label="Add Department" icon="pi pi-plus" styleClass="p-button-text" (onClick)="openDepartmentForm()">
        </p-button>
    </div>
    <p-divider></p-divider>
    <ng-template [ngIf]="isLoadingDepartments" [ngIfElse]="notLoading">
        <app-loading-bar></app-loading-bar>
    </ng-template>
    <ng-template #notLoading>
        <app-department-table [departments]="departments" (onMenuAction)="onDepartmentTableAction($event)"></app-department-table>
    </ng-template>
</p-card>

<!-- Create Department Dialog -->
<p-dialog [(visible)]="showNewDepartmentForm" header="Add New Department" [style]="{ maxWidth: '80%' }">
    <form [formGroup]="newDepartmentForm" (ngSubmit)="onSubmit()">
        <div class="field">
            <label>Parent Department</label>
            <input type="text" class="w-full" pInputText value="-- None --" readonly>
        </div>
        <div class="field">
            <label>New Department Name</label>
            <input type="text" class="w-full" pInputText placeholder="Name" formControlName="name" />
        </div>
        <div class="field">
            <label>New Department Description</label>
            <textarea pInputTextarea class="w-full" placeholder="Description" formControlName="description"></textarea>
        </div>

        <div class="flex justify-content-end mt-2">
            <p-button [disabled]="!newDepartmentForm.valid" label="SUBMIT" type="submit" [icon]="loadingIcon">
            </p-button>
        </div>
    </form>
</p-dialog>

<!-- Delete Department Popup -->
<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>