<p-card>
    <div class="flex justify-content-between align-items-center">
        <h2>All Admins</h2>
        <p-button label="Add Admin" icon="pi pi-plus" styleClass="p-button-text" (onClick)="openAdminForm()">
        </p-button>
    </div>
    <p-divider></p-divider>
    <ng-template [ngIf]="isLoadingAdmins" [ngIfElse]="notLoading">
        <app-loading-bar></app-loading-bar>
    </ng-template>
    <ng-template #notLoading>
        <p-table [value]="admins" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th class="text-center">Access</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-admin let-i="rowIndex">
                <tr>
                    <td>{{ i + 1 }}</td>
                    <td>{{ admin.user.firstName + ' ' + admin.user.lastName }}</td>
                    <td class="text-center">
                        <span class="mx-2" *ngFor="let asc of admin.access">{{ getAccessName(asc) }}</span>
                    </td>
                    <td class="text-right">
                        <p-button styleClass="p-button-text" icon="pi pi-ellipsis-v"
                            (onClick)="openMenu(i); menu.toggle($event);"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-menu #menu [popup]="true" [model]="rowMenu"></p-menu>
    </ng-template>
</p-card>

<!-- Create Admin Dialog -->
<p-dialog [(visible)]="showAdminForm" header="Add New Admin" [style]="{ maxWidth: '80%' }">
    <form [formGroup]="newAdminForm" (ngSubmit)="onSubmit()">
        <div class="grid">
            <div class="col-6 field">
                <label>First Name</label>
                <input type="text" class="w-full" pInputText formControlName="firstName" placeholder="ABC">
                <small *ngIf="newAdminForm.get('firstName')?.invalid && newAdminForm.get('firstName')?.touched"
                    class="p-error">
                    First name is required & must be under 40 characters
                </small>
            </div>
            <div class="col-6 field">
                <label>Last Name</label>
                <input type="text" class="w-full" pInputText formControlName="lastName" placeholder="Kumar">
                <small *ngIf="newAdminForm.get('lastName')?.invalid && newAdminForm.get('lastName')?.touched"
                    class="p-error">
                    Last name is required & must be under 40 characters
                </small>
            </div>
            <div class="col-6 field">
                <label>Phone</label>
                <input type="text" class="w-full" pInputText formControlName="phone" placeholder="XXXXXXXXXX">
                <small *ngIf="newAdminForm.get('phone')?.invalid && newAdminForm.get('phone')?.touched" class="p-error">
                    Contact Number is required & must be valid
                </small>
            </div>
            <div class="col-6 field">
                <label>Emergency Phone</label>
                <input type="text" class="w-full" pInputText formControlName="emergencyPhone" placeholder="YYYYYYYYYY">
                <small *ngIf="
                        (newAdminForm.errors?.['match'] && newAdminForm.get('phone')?.touched) || 
                        (newAdminForm.get('emergencyPhone')?.invalid && newAdminForm.get('emergencyPhone')?.touched)"
                    class="p-error">
                    Emergency Contact is required & must be different from Primany Contact
                </small>
            </div>
            <div class="col-6 field">
                <label>Gender</label>
                <p-dropdown styleClass="w-full" appendTo="body" placeholder="Gender" [options]="genderOptions"
                    formControlName="gender" optionLabel="label" optionValue="value">
                </p-dropdown>
                <small *ngIf="newAdminForm.get('gender')?.invalid && newAdminForm.get('gender')?.touched" class="p-error">
                    Gender is required
                </small>
            </div>
            <div class="col-6 field">
                <label>Date Of Birth</label>
                <p-calendar placeholder="Date Of Birth" styleClass="w-full" appendTo="body" [maxDate]="maxDate"
                    [showIcon]="true" formControlName="dob">
                </p-calendar>
                <small class="p-error" *ngIf="newAdminForm.get('dob')?.invalid && newAdminForm.get('dob')?.touched">
                    Date Of Birth is required
                </small>
            </div>
            <div class="col-6 field">
                <label>Line 1</label>
                <input type="text" class="w-full" pInputText formControlName="line1" placeholder="XYZ Society">
                <small class="p-error" *ngIf="newAdminForm.get('line1')?.invalid && newAdminForm.get('line1')?.touched">
                    Line 1 is required, must be under 80 characters
                </small>
            </div>
            <div class="col-6 field">
                <label>Line 2</label>
                <input type="text" class="w-full" pInputText formControlName="line2" placeholder="Near JKL Landmark">
                <small class="p-error" *ngIf="newAdminForm.get('line2')?.invalid && newAdminForm.get('line2')?.touched">
                    Line 2 is required, must be under 80 characters
                </small>
            </div>
            <div class="col-4 field">
                <label>PINCODE</label>
                <input type="text" class="w-full" pInputText formControlName="pincode" placeholder="PINCODE">
                <small class="p-error"
                    *ngIf="newAdminForm.get('pincode')?.invalid && newAdminForm.get('pincode')?.touched">
                    PINCODE is required, must be a 6 digit number
                </small>
            </div>
            <div class="col-4 field">
                <label>City</label>
                <input type="text" class="w-full" pInputText formControlName="city" placeholder="City">
                <small class="p-error" *ngIf="newAdminForm.get('city')?.invalid && newAdminForm.get('city')?.touched">
                    City is required, must be under 40 characters
                </small>
            </div>
            <div class="col-4 field">
                <label>State</label>
                <p-dropdown styleClass="w-full" appendTo="body" placeholder="State" [options]="stateOptions"
                    formControlName="state" optionLabel="label" optionValue="value">
                </p-dropdown>
                <small class="p-error" *ngIf="newAdminForm.get('state')?.invalid && newAdminForm.get('state')?.touched">
                    State is required
                </small>
            </div>
            <div class="col-6 field">
                <label>E-mail</label>
                <input type="email" class="w-full" pInputText formControlName="email" placeholder="name@example.com">
                <small *ngIf="newAdminForm.get('email')?.invalid && newAdminForm.get('email')?.touched" class="p-error">
                    E-Mail is required & must be valid
                </small>
            </div>
            <div class="col-6 field">
                <label>Access</label>
                <p-multiSelect styleClass="w-full" appendTo="body" placeholder="Grant Permission" m
                    [options]="accessOptions" formControlName="access" optionLabel="label" optionValue="value">
                </p-multiSelect>
                <small class="p-error" *ngIf="newAdminForm.get('city')?.invalid && newAdminForm.get('city')?.touched">
                    Access permissions are required, select at least 1
                </small>
            </div>
            <div class="col-6 field"></div>
        </div>
        <div class="flex justify-content-end mt-2">
            <p-button label="SUBMIT" type="submit" [icon]="loadingIcon"></p-button>
        </div>
    </form>
</p-dialog>

<!-- Delete Admin Popup -->
<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>