<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        * {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <% if(status == 'A') { %>
        <div style="text-align: center; background-color: rgba(144, 238, 144, 0.4); padding-top: 1rem; padding-bottom: 1rem;">
    <% } else { %>
        <div style="text-align: center; background-color: rgba(240, 128, 128, 0.4); padding-top: 1rem; padding-bottom: 1rem;">
    <% } %>
        <table style="width: 100%;">
        <tr>
            <td><img src="https://img.icons8.com/dusk/64/000000/hospital.png"/></td>
            <td>
                <% if(status == 'A') { %>
                    <img src="https://img.icons8.com/fluency/64/000000/checked.png"/>
                <% } else { %>
                    <img src="https://img.icons8.com/fluency/64/000000/cancel-2.png"/>
                <% } %>
            </td>
        </tr>
        </table>
        <h1><%= title %></h1>
    </div>
    <p><%= msg %></p>
    <p>For anyother query you can mail us at: <a href="mailto:hkexperiment786@gmail.com">support@hms.com</a></p>
</body>
</html>