<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to HMS</title>
    <style>
        * {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <div style="text-align: center; background-color: lightpink;">
        <img src="https://img.icons8.com/dusk/64/000000/hospital.png"/>
        <h1>WELCOME TO HMS</h1>
    </div>
    <p>Thankyou for creating a account, please wait until your details are verified, then you will be able to login.</p>
    <p>For anyother query you can mail us at: <a href="mailto:hkexperiment786@gmail.com">support@hms.com</a></p>
</body>
</html>