<p-card styleClass="mb-2">
    <div class="grid align-items-center">
        <div class="col-6 col-offset-1">
            <h1>History</h1>
        </div>
        <div class="col-3">
            <img src="/assets/aboutus.jpg" alt="About Us" style="width: 100%; height: auto;">
        </div>
    </div>
    <p-divider>
        <p class="text-justify line-height-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati
            exercitationem incidunt ad eos quas at velit voluptate cupiditate odit? Non quos dolorum eius ut.
            Perspiciatis, consequuntur nam. Ex, quibusdam numquam.</p>
        <p class="text-justify line-height-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat eaque
            aliquam est ab sequi vero, perferendis optio blanditiis consequuntur, rerum iusto at repellat sapiente nobis
            sit doloribus cum repudiandae provident fugiat non id magnam! Est sit placeat repellendus dolore,
            exercitationem facilis asperiores porro maiores libero pariatur suscipit aut molestias! Ipsam, quasi ad
            voluptatibus minus asperiores necessitatibus consequatur, impedit dicta ducimus ut aut tempore. Velit natus
            quaerat aperiam totam, earum magni ut rerum est deserunt deleniti, facere eligendi qui voluptatibus
            explicabo corporis. Non laboriosam voluptates impedit nesciunt ipsa fuga ratione vitae libero repudiandae
            cum aut quidem nihil quia, maiores perspiciatis, facere architecto ullam quos eos asperiores veritatis?
            Voluptate, ab voluptas vel iure tenetur dolore maxime quia odit. Tempore, amet, soluta tenetur obcaecati
            illo expedita repellendus, ex dolorem praesentium officia dicta? Praesentium incidunt at molestiae sequi
            laboriosam fugit nesciunt eligendi autem alias ab voluptates totam atque neque eveniet fugiat doloremque
            porro corrupti ut quidem eum distinctio quasi repellendus, necessitatibus vitae. Dolorum quis eius aliquid
            minima quaerat incidunt! Dignissimos quod possimus excepturi sint dolores, ut ipsum. Sed nesciunt expedita
            harum, eum dolores, est officia rem incidunt illum ex asperiores similique itaque! Blanditiis, cum! Omnis,
            quas nostrum. Incidunt, sunt quisquam? Quod inventore modi repudiandae?</p>
        <p class="text-justify line-height-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed incidunt
            architecto eum. Magnam ipsum nisi aut voluptate veritatis, dolorem unde mollitia eius molestiae iusto.
            Consequuntur sapiente earum ad labore animi vel porro possimus fugiat non vero. Dolore dolor eaque officiis
            incidunt voluptatem pariatur id explicabo sit, at temporibus ad tempora aliquam totam laboriosam iure
            placeat consequuntur odio error, nisi dolorem autem provident. Sit soluta reiciendis quasi? Numquam sapiente
            suscipit quidem iure laudantium, totam reprehenderit repudiandae voluptatem quae pariatur dignissimos
            eveniet ipsum voluptatum assumenda optio dolor excepturi sed delectus non a eligendi ad laboriosam. Et odit
            reiciendis vitae labore corrupti atque excepturi alias laboriosam, eligendi vel quis nobis, repudiandae
            totam tempore, perspiciatis nemo ea mollitia nulla. Omnis, inventore autem. Rerum tempora, delectus corporis
            error, totam officiis, voluptas eum exercitationem nostrum neque sed similique ipsum. Facilis aliquid qui
            eaque molestias vero maxime beatae enim, nemo ratione tenetur sit odit, amet, dolore fugit.</p>
    </p-divider>
</p-card>
<p-accordion styleClass="mb-2" [multiple]="true">
    <p-accordionTab header="Header 1" [selected]="true">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero qui fugiat nesciunt dolores aliquid praesentium
        tempore optio, quia quae dignissimos nulla quidem illum, blanditiis est, iure ipsum distinctio rerum. Molestiae.
    </p-accordionTab>
    <p-accordionTab header="Header 2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis necessitatibus nisi alias, ratione quas nam
        tenetur error. Harum culpa exercitationem voluptatibus praesentium placeat sequi eaque quae ea nisi! Facilis,
        excepturi.
    </p-accordionTab>
    <p-accordionTab header="Header 3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus labore, nisi ullam fugiat repudiandae qui
        perspiciatis eveniet mollitia quod a voluptas commodi. Ad dolore fuga, similique dignissimos iusto ea commodi!
    </p-accordionTab>
</p-accordion>